<form ng-submit="SessionsViewModel.signup()" role="form">
  <div>
    <label>email</label>
    <input type="email" name="email" ng-model="SessionsViewModel.signupForm.email" required="required"/>
  </div>

  <div>
    <label>password</label>
    <input type="password" name="password" ng-model="SessionsViewModel.signupForm.password" required="required"/>
  </div>

  <div>
    <label>password confirmation</label>
    <input type="password" name="password_confirmation" ng-model="SessionsViewModel.signupForm.password_confirmation" required="required"/>
  </div>

  <button type="submit">Register</button>
</form>
