<h3>Library</h3>

<div data-song-player data-ng-if="SongsIndexViewModel.playSong" data-song="SongsIndexViewModel.playSong"></div>

<!-- When New Form is visible -->
<div data-ng-show="SongsIndexViewModel.newSong.visible">
  <div data-song-form data-song="SongsIndexViewModel.newSong"></div>
  <button type="button" data-ng-click="SongsIndexViewModel.newSong.visible = !SongsIndexViewModel.newSong.visible">Cancel</button>
</div>

<!-- When New Form is not Visible  -->
<div data-ng-hide="SongsIndexViewModel.newSong.visible">
  <button type="button" ng-click="SongsIndexViewModel.newSong.visible = !SongsIndexViewModel.newSong.visible">New Song</button>
</div>

<div data-ng-repeat="song in SongsIndexViewModel.songs">
  <div class="song">
    <div ng-show="song.showEdit" data-song-form data-song="song"></div>
    <p ng-hide="song.showEdit" data-ng-click="SongsIndexViewModel.play(song)">{{song.title}}</p>
    <img data-ng-src="{{ song.album_art}}" alt="{{song.title}}" />
    <button type="button" data-ng-if="!song.showEdit" data-ng-click="song.showEdit = !song.showEdit">Edit</button>
    <button type="button" data-ng-if="song.showEdit" data-ng-click="song.showEdit = !song.showEdit">Cancel Edit</button>
  </div>
</div>
