<form>
  <input placeholder="Title" data-ng-model="SongsNewViewModel.newSong.title">
  <input placeholder="Audio_url" data-ng-model="SongsNewViewModel.newSong.audio_url">
  <input placeholder="Album_art" data-ng-model="SongsNewViewModel.newSong.album_art">
  <input placeholder="Artist" data-ng-model="SongsNewViewModel.newSong.artist">
  <input placeholder="Genre" data-ng-model="SongsNewViewModel.newSong.genre">
  <button type="button" data-ng-click="SongsNewViewModel.create()">Create</button>
</form>
